.Rproj.user
.Rhistory
.RData
.Ruserdata
Week_1/NELMS_intro_to_tidycensus_cache/html/base_r_summaries_NA_example_d0812f7e6b8097f8c576d177be3103da.rdb
Week_1/NELMS_intro_to_tidycensus_cache/html/base_r_summaries_NA_example_d0812f7e6b8097f8c576d177be3103da.rdx
Week_1/NELMS_intro_to_tidycensus_cache/html/base_r_summaries_NA_rm_eac5db28d5810327a3042063d9f86000.RData
Week_1/NELMS_intro_to_tidycensus_cache/html/base_r_summaries_NA_rm_eac5db28d5810327a3042063d9f86000.rdb
Week_1/NELMS_intro_to_tidycensus_cache/html/base_r_summaries_NA_rm_eac5db28d5810327a3042063d9f86000.rdx
*.rdb
*.rdb
*.rdb
*.RData
*.rdb
*.rdx
*.RData
*.rdb
*.Rproj
*.rdb
*.rdx
*.RData
